.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div {
        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}